
layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    children
  }

  tab name="Neovim Config" cwd="~/dotfiles/.config/nvim" {
    pane split_direction="vertical" size="50%" {
      pane edit="./lua/gerrit/keymaps.lua" name="Keymaps"
      pane edit="./lua/gerrit/set.lua" name="Settings"
    }
    pane edit="./lua/plugins" name="Plugins"
  }
}

