layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    children
  }

  tab name="Plasma-KDE" cwd="~/dotfiles/hotkeys/plasma-kde" {
    pane split_direction="vertical" size="50%" {
      pane edit="./system_and_applications.norg" name="System and Applications"
      pane edit="./tiles.norg" name="Virtual Desktops"
    }
    pane split_direction="vertical" size="50%" {
      pane edit="./windows.norg" name="Tiles"
      pane name="TBD"
    }
  }

  tab name="Neovim" cwd="~/dotfiles/hotkeys/neovim" {
    pane split_direction="vertical" size="50%" {
      pane edit="./basics.norg" name="Basics"
      pane edit="./search_and_replace.norg" name="Search and Replace"
    }
    pane split_direction="vertical" size="50%" {
      pane edit="./visual_mode.norg" name="Visual Mode"
      pane name="TBD"
    }
  }


  tab name="Arch Linux" cwd="~/dotfiles/hotkeys/arch" {
    pane split_direction="vertical" size="50%" {
      pane edit="./system.norg" name="System"
      pane edit="./zellij.norg" name="Zellij"
    }
  }
}

